* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Source Sans Pro", sans-serif;
  position: relative;
  color: #fff;
  background-color: #21232e; }
  body .header {
    height: 580px;
    background: url("../img/m-h-night.jpg") no-repeat;
    background-size: cover;
    background-position: 0 -210px;
    border-radius: 0px 0px 40% 0px; }
    body .header-wrap {
      width: 1200px;
      margin: 0 auto;
      padding-top: 10px; }
      body .header-wrap .landing-logo {
        display: flex;
        align-items: center; }
        body .header-wrap .landing-logo img {
          height: 35px; }
        body .header-wrap .landing-logo p {
          width: 60px;
          text-align: center;
          line-height: 18px;
          padding-top: 10px;
          color: #fff;
          font-family: "Fresca", sans-serif;
          font-size: 20px;
          margin-left: 8px;
          font-weight: 600; }
          body .header-wrap .landing-logo p span {
            display: block;
            text-align: center;
            font-size: 8px; }
      body .header-wrap .header_heading {
        width: 400px;
        font-size: 58px;
        font-weight: bold;
        margin-top: 65px;
        line-height: 60px;
        position: relative;
        z-index: 5; }
        body .header-wrap .header_heading::before, body .header-wrap .header_heading::after {
          display: block;
          position: absolute;
          z-index: 2;
          bottom: 0;
          content: "awesome";
          left: 0; }
        body .header-wrap .header_heading::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          background: #ff4e33;
          z-index: 1;
          width: 243px;
          height: 40px;
          bottom: 2px;
          left: 0; }
      body .header-wrap .header_text {
        width: 500px;
        font-size: 13px;
        font-family: "Fresca", sans-serif;
        margin-top: 43px;
        white-space: pre;
        text-align: left;
        margin-left: -50px; }
      body .header-wrap div:nth-child(4) {
        display: flex;
        justify-content: space-between;
        width: 380px;
        align-items: center;
        margin-top: 44px; }
        body .header-wrap div:nth-child(4) .header_button {
          color: #fff;
          width: 110px;
          height: 37px;
          background-color: #e3ac00;
          border-radius: 3px;
          border: none;
          font-weight: 600; }
        body .header-wrap div:nth-child(4) .login {
          font-family: "Source Sans Pro", sans-serif;
          color: #fff;
          display: block;
          font-weight: 600; }
  body .section {
    position: relative;
    padding-bottom: 217px; }
    body .section_text {
      color: #fff;
      height: 96px;
      width: 320px;
      margin: 0 auto;
      line-height: 96px;
      font-size: 32px;
      font-weight: 600;
      position: relative; }
      body .section_text::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        background: #ff4e33;
        z-index: 1;
        width: 146px;
        height: 38px;
        bottom: 34px;
        right: 11px; }
      body .section_text:before {
        display: block;
        position: absolute;
        z-index: 2;
        bottom: 0;
        content: "adventure!";
        right: 2px; }
    body .section_card_wrap {
      display: flex;
      flex-direction: column;
      align-items: center; }
      body .section_card_wrap .section_card {
        width: 857px;
        background-color: #3b3f50;
        padding: 15px;
        border-radius: 5px; }
        body .section_card_wrap .section_card:nth-child(n + 2) {
          margin-top: 20px; }
        body .section_card_wrap .section_card:nth-child(1) {
          height: 250px; }
          body .section_card_wrap .section_card:nth-child(1) .section_card_heading {
            margin-top: 36px; }
          body .section_card_wrap .section_card:nth-child(1) .section_card_text {
            margin-top: 31px;
            width: 340px; }
          body .section_card_wrap .section_card:nth-child(1) .section_link {
            margin-top: 12px; }
        body .section_card_wrap .section_card:nth-child(2) {
          height: 240px; }
          body .section_card_wrap .section_card:nth-child(2) .section_card_heading {
            margin-top: 35px; }
          body .section_card_wrap .section_card:nth-child(2) .section_card_text {
            margin-top: 27px;
            width: 340px; }
          body .section_card_wrap .section_card:nth-child(2) .section_link {
            margin-top: 8px; }
        body .section_card_wrap .section_card:nth-child(3) {
          height: 264px; }
          body .section_card_wrap .section_card:nth-child(3) .section_card_heading {
            margin-top: 45px; }
          body .section_card_wrap .section_card:nth-child(3) .section_card_text {
            margin-top: 47px;
            width: 320px; }
          body .section_card_wrap .section_card:nth-child(3) .section_link {
            margin-top: 20px; }
        body .section_card_wrap .section_card_img {
          float: left;
          height: 100%;
          border-radius: 5px; }
        body .section_card_wrap .section_card_right_container {
          width: 360px;
          float: left;
          margin-left: 70px;
          color: #bfc2cc; }
          body .section_card_wrap .section_card_right_container .section_card_heading {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            color: #fff; }
          body .section_card_wrap .section_card_right_container .section_card_text {
            font-family: "Fresca", sans-serif;
            text-align: justify;
            font-size: 12px;
            line-height: 16px; }
          body .section_card_wrap .section_card_right_container .section_link {
            font-family: "Source Sans Pro", sans-serif;
            color: #fff;
            display: block;
            font-weight: 600;
            color: #bfc2cc;
            font-size: 12px;
            text-align: center; }
    body .section_banner {
      width: 920px;
      height: 110px;
      border-radius: 5px;
      background: linear-gradient(90deg, #dea405 0%, #963250 100%);
      padding: 0 125px 0 125px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%); }
      body .section_banner_text_wrap .section_banner_heading {
        font-size: 24px;
        font-weight: bold;
        position: relative; }
        body .section_banner_text_wrap .section_banner_heading::after {
          content: "";
          display: block;
          position: absolute;
          bottom: 0;
          background: #ff4e33;
          z-index: 1;
          width: 52px;
          height: 38px;
          left: 95px; }
        body .section_banner_text_wrap .section_banner_heading:before {
          display: block;
          position: absolute;
          z-index: 2;
          bottom: 0;
          content: "start";
          left: 97px; }
      body .section_banner_text_wrap .section_banner_text {
        color: #c0c3ba;
        font-size: 13px;
        margin-top: 13px;
        margin-bottom: 15px;
        font-family: "Fresca", sans-serif; }
      body .section_banner_button {
        color: #fff;
        width: 110px;
        height: 37px;
        background-color: #e3ac00;
        border-radius: 3px;
        border: none;
        font-weight: 600; }
  body .footer {
    font-family: "Fresca", sans-serif;
    height: 186px;
    background-color: #3b3f50;
    width: 100%;
    padding-top: 100px; }
    body .footer-wrap {
      display: flex;
      justify-content: space-between;
      width: 1180px;
      margin: 0 auto; }
      body .footer-wrap .footer_logo.landing-logo {
        display: flex;
        align-items: center; }
        body .footer-wrap .footer_logo.landing-logo img {
          height: 35px; }
        body .footer-wrap .footer_logo.landing-logo p {
          width: 60px;
          text-align: center;
          line-height: 18px;
          padding-top: 10px;
          color: #fff;
          font-family: "Fresca", sans-serif;
          font-size: 20px;
          margin-left: 8px;
          font-weight: 600; }
          body .footer-wrap .footer_logo.landing-logo p span {
            display: block;
            text-align: center;
            font-size: 8px; }
        body .footer-wrap .footer_logo.landing-logo p {
          color: #c0c3ba; }
      body .footer-wrap .footer_text {
        width: 220px;
        color: #c0c3ba;
        font-size: 10px;
        margin-top: 5px; }
      body .footer-wrap .footer-cr {
        display: block;
        font-size: 12px;
        color: #c0c3ba;
        line-height: 48px; }
