.warning-list {
  display: flex;
  padding-top: 40px;
  padding-left: 255px;
}

.warning-list .employee-name {
  font-size: 17px;
  margin-left: 20px;
  cursor: pointer;
}

.warning-list .employee-name:hover {
  text-decoration: underline;
}

.warning-list .employee-details li {
  margin-left: 20px;
}

.warning-list .promotion-list {
  padding-left: 100px;
}

.warning-list .list-title {
  font-size: 18px;
  text-decoration: underline;
  margin-left: 0;
  padding-bottom: 10px;
}

.bad {
  color: red;
}

.good {
  color: green;
}