* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

body .header-top {
  position: fixed;
  z-index: 3;
  height: 65px;
  width: 100%;
  top: 0;
  background-color: #fff;
}

body .header-top-wrapper {
  max-width: 930px;
  padding: 0 15px 0 15px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body .header-top-logo h1 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  color: #545455;
}

body .header-top-menu {
  display: flex;
  list-style: none;
}

body .header-top-menu li {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: bold;
}

body .header-top-menu li:nth-child(n + 2) {
  margin-left: 30px;
}

body .header-top-menu li:hover a {
  color: #bfba55;
}

body .header-top-menu li a {
  text-decoration: none;
  color: #777;
}

body .header-home {
  background: url("../img/home-bg.jpg") no-repeat;
  background-size: cover;
  height: calc(100vh - 65px);
  margin-top: 65px;
  position: relative;
  margin-bottom: 21px;
}

body .header-home::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #000;
  opacity: 0.7;
}

body .header-home-wrapper {
  position: absolute;
  top: 320px;
  width: 100%;
  z-index: 2;
}

body .header-home-title {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

body .header-home-text {
  text-align: center;
  color: #bfba55;
  margin-top: 12px;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1px;
}

body .header-home-btn {
  display: block;
  background-color: #fff;
  border: none;
  width: 125px;
  height: 35px;
  border-radius: 17px;
  text-transform: uppercase;
  color: #777;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  margin: 38px auto 0 auto;
}

body .section {
  color: #777;
  padding-bottom: 38px;
}

body .section-post {
  padding-top: 67px;
}

body .section-post:nth-last-child(1) .section-post-wrapper {
  border-bottom: none;
}

body .section-post-wrapper {
  width: 710px;
  margin: 0 auto;
  border-bottom: 1px solid #e9e8e8;
  padding-bottom: 50px;
}

body .section-post-img {
  width: 100%;
}

body .section-post-title {
  color: #000;
  font-size: 22px;
  margin-top: 26px;
}

body .section-post-user {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

body .section-post-ava {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

body .section-post-name {
  font-size: 12px;
  margin-left: 7px;
}

body .section-post-date {
  font-size: 12px;
  margin-left: 15px;
}

body .section-post-comments {
  font-size: 12px;
  margin-left: 15px;
}

body .section-post-text {
  font-size: 11px;
  line-height: 20px;
  margin-top: 17px;
}

body .section-post-btn {
  display: block;
  background-color: #fff;
  border: none;
  width: 125px;
  height: 35px;
  border-radius: 17px;
  text-transform: uppercase;
  color: #777;
  font-size: 9px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #dfdfdf;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin-top: 28px;
  text-transform: none;
  font-size: 10px;
}

body .footer {
  height: 280px;
  background-color: #000;
  color: #777;
}

body .footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 710px;
  margin: 0 auto;
}

body .footer-left {
  width: 360px;
}

body .footer-left-title,
body .footer-right-title {
  color: #fff;
  margin-top: 77px;
  font-size: 21px;
  text-transform: uppercase;
}

body .footer-left-text,
body .footer-right p:nth-child(n + 2) {
  font-size: 12px;
  margin-top: 12px;
  line-height: 20px;
}

body .footer-left-copy {
  font-size: 12px;
  margin-top: 23px;
}

body .footer-right {
  font-size: 12px;
}

body .footer-right-title {
  text-transform: none;
}
